@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0ce94d;
}

.container{
    width: 80%;
    height: 90vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.imagem-form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7;
    padding: 1rem
    ;
}

.form{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 1.3rem;
    display: flex;
    justify-content: space-between;
}
.form-header h1::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.login-button{
    display: flex;
    align-items: center;
}

.login-button button{
    width: 5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #6b63fff1;
}

.login-button button a {
    color: white;
    text-decoration: none;
    font-family: 500;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.8rem;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
} 
.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible{
    outline: 1px solid #6c63ff;
}

.input-box input::placeholder{
    color: #000000be;
}

.area-observacao{
    margin-top: -1rem;
    display: grid;
    justify-content: flex-start;
    margin-left: 3%;
}

.area-observacao textarea{
    width: 25rem;
    height: 5rem;
    resize: none;
}

.btn-cadastrar button{
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cadastrar button:hover{
    background-color: #6b63fff1;
}

.btn-cadastrar button a{
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: 0.93rem;
}

/* MEDIA SCREEN */

@media screen and (max-width: 1330px){
    .imagem-form {
        display: none;
    }

    .container{
        width: 50%;
    }

    .form{
        width: 100%;
    }
}

@media screen and (max-width:1064px){
    .container{
        width: 90%;
        height: auto ;
    }

    .area-observacao{
        position: relative;
        margin-left: 1rem;
        width: 80%;
    }
    
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .btn-cadastrar button{
        width: 98%;
        margin-left: 0.9rem;
        position: relative;
    }

}